
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="res/email/css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <!-- <style> -->

  </head>
  <body>
    <span class="preheader"></span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center data-parsed="">
            <style type="text/css" align="center" class="float-center">
              body,
              html, 
              .body {
                background: #f3f3f3 !important;
              }
            </style>
            
            <table align="center" class="container float-center"><tbody><tr><td>
            
              <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
            
              <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tr><th>
                  <h1>Processando seu Pedido.</h1>
                  <p>Obrigado por ter acreditado na nossa empresa nos ficamos muitos felizes em saber que tem gente sendo ajudada pelo nosso sitema/servicos Abaixo vao alguns dados sobre o seu Pedido e dados bancario para efeituar o deposito do valor em MZN.</p>
            
                  <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
            
                  <table class="callout"><tr><th class="callout-inner secondary">
                    <table class="row"><tbody><tr>
                      <th class="small-12 large-6 columns first"><table><tr><th>
                        <p>
                          <strong>Metodo de Pagemento</strong><br>
                          Padrao - Deposito
                        </p>
                        <p>
                          <strong>Seu Email Paypal</strong><br>
                          cliente@gmail.com
                        </p>
                        <p>
                          <strong>ID do Pedido</strong><br>
                          239235983749636
                        </p>
                        <p>
                          <strong>Cambio</strong><br>
                          60.5 MZN
                        </p>
                      </th></tr></table></th>
                      <th class="small-12 large-6 columns last"><table><tr><th>
                        <p>
                          <strong>Tempo do Processo</strong><br>
                          (12&ndash;24 Horas)<br>
                          <strong>Email para Notificao do Processo</strong><br>
                          clientep@gmail.com <br>
                          <strong>Conta Bancaria</strong><br>
                          BIM: 876416272812 <br>
                          <strong>Codigo para Assinatura</strong><br>
                          Codigo Unico: 0092416272812
                        </p>
                      </th></tr></table></th>
                    </tr></tbody></table>
                  </th><th class="expander"></th></tr></table>
            
                  <h4>Detalhes do Pedido</h4>
            
                  <table>
                    <tr><th>Valor Em USD</th><th></th><th>${{ Dolar }}</th></tr>
                    <tr><td>Valor Em MZ</td><td></td><td>{{ MZ }}MT</td></tr>
                    <tr><td>Taxa</td><td></td><td>$10</td></tr>
                    <tr><td>Cambio</td><td></td><td>60 MT</td></tr>
                    <tr>
                      <td colspan="2"><b>Total:</b></td>
                      <td>{{ Total }}MT</td>
                    </tr>
                  </table>
            
                  <hr>
            
                  <h4>Instrucoes</h4>
            
                  <p>Para o seu pedido ser concluido com sucesso e preciso fazer o deposito do valor Total na nossa conta Fisica (BIM), Feito o deposito no recibo de deposito tens que color o codico de assinatura no espaco da assinatuo. E por fim faca upload da imagem do recibo </p>
                </th></tr></table></th>
              </tr></tbody></table>
              <table class="row footer text-center"><tbody><tr>
                <th class="small-12 large-3 columns first"><table><tr><th>
                  <img src="http://placehold.it/170x30" alt="">
                </th></tr></table></th>
                <th class="small-12 large-3 columns"><table><tr><th>
                  <p>
                    Fale connosco pelo: +25846074034<br>
                    Email de suporte support@paypalajuda.com
                  </p>
                </th></tr></table></th>
                <th class="small-12 large-3 columns last"><table><tr><th>
                  <p>
                    123 A.V Rd<br>
                    Maputo
                  </p>
                </th></tr></table></th>
              </tr></tbody></table>
            </td></tr></tbody></table>
            
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

